{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="mt-4 mb-4">Pret Details</h1>

	{% if pret %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Materiel Emprunte</th>
					<th scope="col">Date_pret</th>
					<th scope="col">Date_rendu_prevue</th>
					<th scope="col">Date_rendu_user</th>
					<th scope="col">Statut</th>
					<th scope="col">Propriétaire</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ pret.getMaterielEmprunte().nom }}</td>
					<td>{{ pret.datePret ? pret.datePret|date('Y-m-d') : '' }}</td>
					<td>{{ pret.dateRenduPrevue ? pret.dateRenduPrevue|date('Y-m-d') : '' }}</td>
					<td>{{ pret.dateRenduUser ? pret.dateRenduUser|date('Y-m-d') : '' }}</td>
					<td>{{ pret.statut }}</td>
					<td>{{ pret.getUserEmprunteur().email ? pret.getUserEmprunteur().email : '' }}</td>
					<td>
						<a href="{{ path('app_pret_show', {'id': pret.id}) }}" class="btn btn-info btn-sm">Show</a>
						<a href="{{ path('app_pret_edit', {'id': pret.id}) }}" class="btn btn-warning btn-sm">Edit</a>
						{% if pret.dateRenduUser is null %}
							<a href="{{ path('app_pret_rendu', {'id': pret.id}) }}" class="btn btn-warning btn-sm">Rendu</a>
							<a href="{{ path('app_pret_rappele', {'id': pret.id}) }}" class="btn btn-warning btn-sm">Rappel</a>
						{% endif %}
						<form method="post" action="{{ path('app_pret_delete', {'id': pret.id}) }}" style="display: inline;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pret.id) }}">
							<button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_pret_index') }}" class="btn btn-primary">Back to List</a>
	{% else %}
		<p>No record found</p>
	{% endif %}
{% endblock %}
